.add-product-main {
    margin-top: 60px;
}
.add-product-main__title {
    font-size: 2rem;
    font-weight: bold;
}
.add-products__form {
    margin-top: 30px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
    border-radius: 10px;
}
.add-product__form-wrap {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 25px;
}
.add-product__form-group {
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 95%;
    background-color: #f4f4f4;
    padding: 0 20px;
    border-radius: 10px;
}
.add-product__input {
    outline: none;
    border: none;
    background: unset;
    padding: 8px 10px;
    font-size: 1.2rem;
    width: 100%;
    font-weight: bold;
}
.add-product__form-btn {
    background-color: var(--blue);
    color: var(--white);
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}