@import './reset.css';
@font-face {
    font-family: IRANsansX;
    src: url(./fonts/woff2/IRANSansX-Regular.woff2);
}
:root {
    --white: #ffffff;
    --white-50: #f0f0f0;
    --blue: #210D7F;
    --second-color:  #6c48bb;
    --hover: #391588;
}
body {
    background-color: var(--white-50);
    direction: rtl !important;
    display: flex;
}
*, body, html {
    font-family: IRANsansX;
    text-decoration: none !important;
}