@import './reset.css';

@font-face {
    font-family: IRANsansX;
    src: url(./fonts/woff2/IRANSansX-Regular.woff2);
}
:root {
    --whiteL: #ffffff;
    --white-50: #f0f0f0;
    --blue: #471AAA;
}
body {
    background-color: var(--white-50);
}
*, body, html {
    font-family: IRANsansX;
}